.about-page
  h1 How to apply for an advert
  p Download the following application form, and email your form with proof of payment to buddy.adverts@gmail.com
  = link_to 'Application Form', '/test.pdf', target: :blank
