body{
    /*background:#f9f9f9 url(http://tympanus.net/Tutorials/OriginalHoverEffects/images/white_texture.jpg) repeat top left;*/
    /*background: #fff url(http://p1.pichost.me/i/56/1797601.jpg) repeat;*/
    background: #fff url(http://p1.pichost.me/i/56/1797601.jpg);
    // background-image: url('smiley.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A ;
}

.wrap {
    text-align: center;
    width: 330px;
    height: 290px;
    margin: 20px auto;
    display: block;
    padding:20px;
    cursor: default;
    background: #fff url(http://tympanus.net/Tutorials/OriginalHoverEffects/images/bgimg.jpg) repeat;
    -webkit-box-shadow:0 5px 10px #666;
    -moz-box-shadow:0 5px 10px #666;
    box-shadow:0 5px 10px #666;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

.contact-details p {
  margin-bottom: -17px;
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}

.wrap p{
    font-size: 18px;
    margin-top: 15px;
    text-align: justify;
}

.wrap h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.wrap a{
    text-decoration: none;
    color: #4A4A4A !important;
}

.wrap a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
