.top-bar
  background: #fff url(http://p1.pichost.me/i/56/1797601.jpg)
  // background-image: url('smiley.gif')
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center

  input
    max-height: 1rem

  .menu-text
    font-size: 1.5rem

  a
    font-size: 0.8rem
    border-radius: 1rem
    &:hover
      color: green
      background-color: #d3d3d3
